body{
  background-color: #fffbeb;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 300%;
  color: #1f7172;
  margin-left: 2%;
}

h2{
  color: #1f7172;
  margin-left: 2%;
}

h3{
  color: #2a9c9d;
  margin-left: 2%;
}

ul{
  margin-left: -5%;
}

a{
  color:#fdb078;
}

li{
  margin-bottom: 10%;
}

.image{
  float: left;
  width: 12%;
  padding: 2px;
  border: solid #f7e293;
  border-width: 4px;
  background-color: #2a9c9d;
  margin-left: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  box-sizing: border-box;
}


.listTitle{
  color: #2a9c9d;
}

.column{
  width: 20%;
  float: left;
}

.listDeets{
  font-variant: small-caps;
  margin-top: -1px;
}

.listDesc{
  margin-top: -10px;
}

.highlight{
  background-color: #f36273;
}